<ion-content>
  <app-page-title title="Register"> </app-page-title>
  <section class="pt-0">
    <form
      [formGroup]="registerForm"
      (submit)="$event.preventDefault(); attemptRegister()"
      class="container register-form"
      action=""
      autocomplete="off"
    >
      <span class="p-float-label">
        <input
          autocomplete="new-username"
          formControlName="username"
          pInputText
          id="username"
        />
        <label htmlFor="username">Username</label>
      </span>
      <span class="p-float-label">
        <input
          autocomplete="new-email"
          formControlName="email"
          pInputText
          id="email"
        />
        <label htmlFor="email">Email</label>
      </span>
      <span class="p-float-label">
        <input
          autocomplete="new-password"
          formControlName="password"
          type="password"
          pInputText
          id="password"
        />
        <label htmlFor="password">Password</label>
      </span>
      <span class="p-float-label">
        <input
          autocomplete="new-password"
          formControlName="repeatPassword"
          type="password"
          pInputText
          id="password"
        />
        <label htmlFor="password">Confirm Password</label>
      </span>
      <div *ngIf="registerStatus | async as status" class="status-box">
        <div
          class="hide-initial"
          [ngClass]="{ expand: status.loading || status.error !== '' }"
        >
          <div class="error-box error" *ngIf="status.error !== ''">
            {{ status.error }}
          </div>
          <ion-spinner name="dots" *ngIf="status.loading"></ion-spinner>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="(registerStatus | async)?.loading"
        class="btn-cta"
      >
        register
      </button>
    </form>
  </section>
</ion-content>
