.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  input {
    width: 400px;
  }
}
.hide-initial {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.expand {
  height: 70px;
}
ion-spinner {
  height: 40px;
  width: 100px;
}
