<form [formGroup]="petForm" (submit)="$event.preventDefault(); submitPet()">
  <span class="p-float-label">
    <input formControlName="name" pInputText id="name" />
    <label htmlFor="name">Name</label>
  </span>
  <span class="p-float-label">
    <input formControlName="specie" pInputText id="specie" />
    <label htmlFor="specie">Specie</label>
  </span>
  <span class="p-float-label">
    <input formControlName="breed" pInputText id="breed" />
    <label htmlFor="breed">Breed</label>
  </span>
  <div class="flex justify-content-center py-2">
    <button class="btn-cta">{{ editMode ? "Save" : "Create +" }}</button>
  </div>
</form>
