<ion-content
  ><app-page-title title="About"></app-page-title>
  <section>
    <div class="container">
      <div class="flex justify-content-center">
        <div class="flex flex-wrap-1 justify-content-between">
          <div class="flex flex-column gap-2 col-12 lg:col-7">
            <h3 class="heading-title">Quality Service</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
              illum architecto laborum repellat esse velit porro a omnis impedit
              nam quas rerum aliquid saepe sapiente sunt natus eaque dolorum,
              excepturi assumenda harum voluptas, accusamus odio! Nemo provident
              reprehenderit voluptas facilis dolorum enim autem nulla porro,
              corporis vitae quia sed illo?
            </p>
          </div>
          <div class="flex flex-column gap-2 col-12 lg:col-5">
            <img src="/assets/images/pets-1-home.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
