/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import "@ionic/angular/css/core.css";

/* PrimeNG Styles*/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/primeicons/primeicons.css");

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("../node_modules/keen-slider/keen-slider.css");
:root {
  --base-padding: 175px;
  --primary-color: rgb(239, 80, 48);
  --tetiary-color: #f19f1f;
  --secondary-color: #108896;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 10px;
}
.container-fluid {
  max-width: 100%;
}
.p-base {
  padding: 0 var(--base-padding);
}
* {
  font-family: "Baloo Thambi 2";
}
section {
  padding: 50px 0;
}
.w-content {
  width: fit-content;
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-tetiary {
  background-color: var(--tetiary-color);
}
.bg-darken {
  background-color: #f5f3ee;
}
.btn-cta {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0 30px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 9px 0px 0px 0px #f19f1f !important;
  transition: 0.5s;
  &:hover {
    border-width: 0;
    box-shadow: none !important;
    background-color: var(--secondary-color);
  }
  &:disabled {
    background-color: #7a7a7a;
    box-shadow: inset 9px 0px 0px 0px rgba(255, 255, 255, 0.596) !important;
  }
}
.p-button {
  display: block !important;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
nav {
  margin-top: 0;
  margin-bottom: 0;
}
.text-dark {
  color: #333333 !important;
}
.heading {
  color: var(--secondary-color);
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 30px 120px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    background-color: rgba(255, 166, 0, 0.336);
    height: 3px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    background-color: rgba(255, 166, 0, 0.336);
    height: 3px;
  }
  @media screen and (max-width: 800px) {
    &::before {
      width: 20px;
    }
    &::after {
      content: "";

      width: 20px;
    }
  }
}
.base-text {
  font-size: 17px;
  line-height: 140%;
  color: #7a7a7a;
  font-family: "Roboto" !important;
}
h1 {
  font-family: "Baloo Thambi 2";
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 75px;
  color: #000000;
}
h3 {
  color: #000000;
  font-size: 42px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 34px;
  font-weight: 700;
}
