<footer class="flex justify-content-center">
  <div class="container flex flex-wrap w-full">
    <div class="lg:col-4">
      <a
        href="#"
        class="text-center gap-3 flex justify-content-center flex-column align-items-center"
      >
        <img class="logo" src="assets/icon/pet-logo.svg" alt="" />
        <h3 class="text-white">Vet Clinic</h3>
      </a>
    </div>
    <div class="lg:col-4 flex align-items-center justify-content-center">
      <div class="flex contacts flex-column gap-2 align-items-center">
        <a href="">
          <i class="pi pi-phone"></i>
          <p>+ 000 000 000</p>
        </a>
        <a href="">
          <i class="pi pi-map-marker"></i>
          <p>Burgas, Bulgaria, 8001</p>
        </a>
      </div>
    </div>
    <div class="lg:col-4">
      <div
        class="flex h-full w-full flex-column gap-3 align-items-center justify-content-center"
      >
        <h5 class="text-white uppercase">Follow Us</h5>
        <div class="follow-icons">
          <a href="#">
            <i class="pi pi-twitter"></i>
          </a>
          <a href="#">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="#">
            <i class="pi pi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
