<ion-content>
  <div class="bg-darken h-full w-full flex">
    <div class="container w-full">
      <section class="panel-container">
        <div class="header">
          <a
            class="menu-item"
            routerLinkActive="active"
            routerLink="/admin/users"
          >
            <i class="pi pi-user"></i> Users
          </a>
          <a
            class="menu-item"
            routerLinkActive="active"
            routerLink="/admin/meds"
          >
            <i class="pi pi-info-circle"></i> Medicaments
          </a>
        </div>
        <div
          [@triggerResize]="prepareRoute(outlet)"
          class="admin-table content"
        >
          <router-outlet class="" #outlet="outlet"></router-outlet>
        </div>
      </section>
    </div>
  </div>
</ion-content>
