<ion-content>
  <div class="bg-darken h-full w-full flex">
    <div class="container w-full">
      <section class="panel-container">
        <div class="header">
          <a
            class="menu-item"
            routerLinkActive="active"
            routerLink="/admin/users"
          >
            <i class="pi pi-user"></i> Users
          </a>
        </div>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </div>
</ion-content>
