<ion-content>
  <app-page-title title="Appointment"></app-page-title>
  <section class="pt-0">
    <div class="container">
      <div class="heading w-full"></div>
      <p class="base-text text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        necessitatibus excepturi, quas assumenda quidem labore quod tenetur ex
        laboriosam suscipit veritatis, in molestias quisquam commodi officia
        fugit ab aliquam repellat corporis voluptatibus dignissimos voluptates.
        Molestias quae autem quas voluptate ipsum!
      </p>
      <form
        (ngSubmit)="createAppointment()"
        *ngIf="(userDetails | async )?.loaded === 1 && (vetsLoading | async) !== true; else loadForm"
        [formGroup]="appForm"
        class="py-3 interact-form appointment-form flex flex-column gap-4 align-items-center"
      >
        <p-dropdown
          (onChange)="selectedPet = $event.value; appForm.patchValue({pet: $event.value.id})"
          [filter]="true"
          filterBy="name"
          [options]="(pets | async) || []"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a Pet"
        >
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedPet">
              <img src="assets/images/pet-pfp.png" style="width: 18px" />
              <div>{{ selectedPet.name }}</div>
            </div>
          </ng-template>
          <ng-template let-pet pTemplate="item">
            <div class="flex align-items-center gap-2 pet-item">
              <div class="flex gap-3 align-items-center">
                <img src="assets/images/pet-pfp.png" alt="" />
                <div class="flex flex-column justify-content-center gap-2">
                  <p>{{ pet.name }} - {{ pet.specie }} - {{ pet.breed }}</p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <p-dropdown
          (onChange)="selectedVet = $event.value; appForm.patchValue({vet: $event.value.userId})"
          [filter]="true"
          filterBy="fname"
          [options]="(vets | async) || []"
          [showClear]="true"
          placeholder="Choose a Veterinarian"
        >
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedVet">
              <img src="assets/images/pet-pfp.png" style="width: 18px" />
              <div>
                {{ selectedVet.fname }} {{ selectedVet.lname }} - {{
                selectedVet.vetType }}
              </div>
            </div>
          </ng-template>
          <ng-template let-vet pTemplate="item">
            <div class="flex align-items-center gap-2 pet-item">
              <div class="flex gap-3 align-items-center">
                <img src="assets/images/pet-pfp.png" alt="" />
                <div class="flex flex-column justify-content-center gap-2">
                  <p>{{ vet.fname }} {{ vet.lname }} - {{ vet.vetType }}</p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <p-calendar
          dateFormat="dd/mm/yy"
          [defaultDate]="baseDate"
          placeholder="Select A Date*"
          [firstDayOfWeek]="1"
          [disabledDays]="[6,0]"
          [stepMinute]="15"
          [showTime]="true"
          formControlName="time"
        ></p-calendar>
        <textarea
          pInputText
          formControlName="description"
          id="description"
          placeholder="Description*"
        ></textarea>
        <div class="flex justify-content-center py-2">
          <button type="submit" class="btn-cta">Request</button>
        </div>
      </form>
      <ng-template #loadForm>
        <div class="py-3 flex justify-content-center align-items-center">
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
          ></p-progressSpinner>
        </div>
      </ng-template>
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>
