.slide-content {
  max-height: 100%;
  position: relative;
  cursor: grab;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .side-overlay {
    position: absolute;
    left: -25%;
    height: 100%;
    width: 40%;
    background-color: #108996a6;
    transition: 0.5s;
    border-radius: 0 50% 50% 0;
  }
  .text-box {
    opacity: 0;
    transition: 0.8s;
    display: flex;
    left: 10%;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    height: 100%;
    * {
      color: white;
      text-decoration: none;
    }
    .title {
      font-size: 75px;
      font-weight: 700;
    }
    .subtitle {
      font-size: 32px;
      font-weight: 500;
    }
  }
}
.slide-content.active {
  .side-overlay {
    left: -10%;
  }
  .text-box {
    opacity: 1;
  }
}
.slider-container {
  position: relative;
  max-height: 100%;
}
.slider-mask {
  width: 110%;
  z-index: 10;
  height: 110px;
  bottom: 0;
  position: absolute;
  border-radius: 25% 80% 0 0;
  background-color: white;
}
