.details {
  @media screen and (min-width: 991px) {
    max-width: 300px;
  }
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px;
  p {
    line-height: 100%;
  }
}
.pfp {
  border: 1px solid white;
  border-radius: 20px;
  aspect-ratio: 4/3;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.profile-container {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
}
:host::ng-deep {
  p-tabview {
    width: 100%;
  }
  .p-tabview-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-tabview-nav-link {
  }
  .p-tabview-title {
    color: var(--secondary-color);
  }
}
