<ion-content
  ><app-page-title title="Profile"></app-page-title>

  <section class="profile pt-0">
    <div class="container">
      <div class="heading w-full"></div>
      <div
        [ngClass]="{loading: (loaded | async) === false}"
        class="flex lg:flex-row flex-column justify-content-between profile-container"
      >
        <div *ngIf="(loaded | async) === false" class="status-box">
          <ion-spinner color="light" name="dots"></ion-spinner>
        </div>
        <div
          [ngClass]="{'edit' : editMode}"
          class="details flex flex-column gap-3"
        >
          <button
            [ngClass]="{'bg-red-500 text-white' : editMode}"
            class="edit-btn"
            (click)="swapEdit()"
          >
            <i
              [ngClass]="{'pi-pencil' : !editMode , 'pi-times' : editMode}"
              class="pi bg-transparent"
            ></i>
            <p>{{editMode ? 'Cancel' : 'Edit'}}</p>
          </button>
          <img src="assets/images/pfp.webp" class="pfp" alt="" />
          <div class="flex text-white gap-3 align-items-start">
            <ng-container *ngIf="!editMode; else editing">
              <div class="pi text-xl pi-user"></div>
              <div
                *ngIf="userDetails | async as details"
                class="flex flex-column gap-2"
              >
                <p class="text-xl font-semibold">{{details.firstName}}</p>
                <p class="text-md">{{details.lastName}}</p>
              </div>
            </ng-container>
            <ng-template #editing></ng-template>
          </div>
        </div>
        <p-tabView>
          <p-tabPanel header="Pets">
            <app-pets-list
              [canCreate]="true"
              [pets]="(pets | async) || []"
            ></app-pets-list>
          </p-tabPanel>
          <p-tabPanel header="Appointments">
            <app-appointments-list
              [canCreate]="true"
              [appointments]="[]"
            ></app-appointments-list>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div></section
></ion-content>
