<p-dataView emptyMessage="No appointments Created Yet" [value]="appointments">
  <ng-template let-appointment pTemplate="listItem">
    <div class="col-12 appointment-col">
      <div
        class="flex flex-column xl:flex-row justify-content-center xl:align-items-start p-4 gap-2"
      >
        <div
          class="flex flex-column sm:flex-row align-items-center xl:align-items-start flex-1 gap-4"
        >
          <div class="flex align-items-start justify-content-center">
            <i
              class="pi text-2xl font-bold text-900 pi-{{
                appointment.approved
                  ? 'check text-green-500'
                  : 'clock text-yellow-500'
              }}"
            ></i>
          </div>
          <div
            class="flex flex-column align-items-center sm:align-items-start gap-2"
          >
            <div class="text-2xl font-bold text-900">
              {{ appointment.date | date }}, {{ appointment.time }}
            </div>

            <div class="flex flex-column justify-content-center gap-1">
              <span class="font-semibold"
                >{{ appointment.pet.name }} - {{ appointment.pet.breed }}</span
              >
              <span class="font-semibold"
                >{{ appointment.vet.fname }} {{ appointment.vet.lname }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template></p-dataView
>
<div *ngIf="(appointments?.length || 0) < 5" class="col-12 border-0">
  <button (click)="addAppointment()" class="w-full btn-create btn-cta" pButton>
    Create An Appointment +
  </button>
</div>
